*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img3.wallspic.com/previews/0/2/1/7/47120/47120-plant-tulip-pink-seed_plant-flowering_plant-x750.jpg);
}

.calculator{
    border: 1px solid rgb(255, 170, 184);
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(255, 100, 126);
    background: linear-gradient(45deg, #fff1f1, #ffffff);
}

input{
    width: 490px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(255, 152, 169);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffb1b1;
}

input::placeholder{
    color:#ffabab;
}

button{
    border: none;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 60%;
    background: transparent;
    background-color: #ffe4e4;
    color: #ff9d9d;
    font-size: 20px;
    box-shadow: 8px 8px 15px rgb(255, 175, 188);
    cursor: pointer;
}

.equalBtn{
    background-color: #ffd1d1;
}

.operator{
    color: #76c737;
}